.lable-font-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.lable-color-gray {
  color: gray;
}
.font-color {
  color: #988149;
}
.form-lable {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}
.text-style {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
}

.accept-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background: #988149;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
.cancel-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  background: gray;
  font-family: "Montserrat", sans-serif;
}

.box {
  padding: 5pc;
}
