
<section class="mb-4 mr-2">
    <div class="row">
        <div class="col-lg-6 admins_head">
            <h6>E-Signature</h6> 
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
          <span class="admin_lable">Vendor /</span> <span class="add">Add Vendor</span>
        </div>
    </div>
  </section>
  <Section style="margin-left: 20px;">
    <mat-card>
        <div class="row" style="margin-left: 1px;">
            <div class="col-md-2 col-lg-2 col-sm-2 Sgt_text">
                <h6>Add E-Signature</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-7 d-flex justify-content-center box" style="border: dotted 2px gray; margin-left: 2pc;">
                <input #fileInput type="file" hidden (change)="handleChange($event.target.files)"  />
                <div class="row" (click)="fileInput.click()">
                    <div class="col-md-12 col-lg-12 col-sm-12" style="text-align: center;">
                     <img src="../../../../assets/cloud-computing%20(1).svg" width="10%" alt="">
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12" style="text-align: center;"> 
                     <h3 style="color: gray;">Click to Upload</h3>
                    </div>
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <Button class="login-button" type="submit">Finished Onboarding</Button>
            </div>
            <div class="col-md-3">
                <Button class="Cancel-button">Cancel</Button>
            </div>
        </div>
    </mat-card>
  </Section>
  


