<div mat-dialog-content>
  <div class="d-flex justify-content-between">
    <div></div>
    <div>
      <p style="font-size: 24px; font-weight: 500">Forgot Password</p>
    </div>
    <div class="example-button-container">
      <button mat-mini-fab color="warn" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <form
    [formGroup]="forgotGroup"
    (ngSubmit)="submitEmail()"
    class="mx-auto form-width"
  >
    <div style="padding-top: 50px">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>EMAIL</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="We will sent you reset password link on this email"
        />
      </mat-form-field>
    </div>
    <div class="my-auto" style="padding-top: 130px">
      <button
        type="submit"
        [disabled]="!forgotGroup.valid"
        mat-raised-button
        class="full-width submit-button"
        color="warn"
      >
        Submit
      </button>
    </div>
  </form>
</div>
