.full-width {
  width: 100%;
}
.form-width {
  width: 60%;
}
.submit-button {
  height: 50px;
  background: #9e8656;
  font-size: 20px;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #9e8656 !important;
}

@media (max-width: 991px) {
  .form-width {
    width: 100%;
  }
}
