<div mat-dialog-content class="rounded">
  <div class="d-flex justify-content-between">
    <div></div>
    <div>
      <p class="form-lable">Partner</p>
    </div>
    <div class="example-button-container">
      <button
        mat-mini-fab
        color="warn"
        (click)="close()"
        style="background: #e04f5f"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
      <p class="m-0 form-lable text-muted">PARTNER NAME</p>
      <p class="m-0 form-lable">STATE</p>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
      <p class="m-0 form-lable text-muted">PARTNER EMAIL ID</p>
      <p class="m-0 form-lable">STATE</p>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
      <p class="m-0 form-lable text-muted">PARTNER ID</p>
      <p class="m-0 form-lable">STATE</p>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
      <p class="m-0 form-lable text-muted">CATEGORY</p>
      <p class="m-0 form-lable">STATE</p>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
      <p class="m-0 form-lable text-muted">SUB CATEGORY</p>
      <p class="m-0 form-lable">STATE</p>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
      <p class="m-0 form-lable text-muted">CONTACT NUMBER</p>
      <p class="m-0 form-lable">STATE</p>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
      <p class="m-0 form-lable text-muted">COUNTRY</p>
      <p class="m-0 form-lable">STATE</p>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
      <p class="m-0 form-lable text-muted">STATE</p>
      <p class="m-0 form-lable">STATE</p>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
      <p class="m-0 form-lable text-muted">CITY</p>
      <p class="m-0 form-lable">STATE</p>
    </div>
  </div>
</div>
