.outline-button {
  border-radius: 6px;
  width: 100%;
  height: 50px;
  border: 1px solid #9e8656;
  font-size: 18px;
  color: #9e8656;
}
.rounded-button {
  border-radius: 6px;
  width: 100%;
  height: 50px;
  background: #9e8656;
  font-size: 18px;
  color: #ffffff;
}
.lable-font-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.lable-color-gray {
  color: gray;
}
.font-color {
  color: #988149;
}
.full-width {
  width: 100%;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: "Montserrat" !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #9e8656 !important;
}
::ng-deep.mat-select-arrow {
  color: #9e8656 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #9e8656;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #9e8656;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #9e8656;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #9e8656;
}
