<div class="row ">
    <div class="col-md-12 col-sm-12 col-lg-12 m-auto d-flex justify-content-center" style="text-align: center;">
        
            <img src="../../../../assets/prohibition-Freeze.svg" width="20%"  alt="">
      
    </div>
    <div *ngIf="data == 'user'" class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center mt-2">
        <h3>User Freezed Successfully </h3>
    </div>
    <div *ngIf="data == 'customer'" class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center mt-2">
        <h3>Customer Freezed Successfully </h3>
    </div>
    <div *ngIf="data == 'partner'" class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center mt-2">
        <h3>Partner Freezed  Successfully </h3>
    </div>
    <div *ngIf="data == 'offer'" class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center mt-2">
        <h3>Offer Freezed Successfully </h3>
    </div>
    <div *ngIf="data == 'purchasersOrder'" class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center mt-2">
        <h3>Purchasers Freezed Successfully </h3>
    </div>
</div>
