.lable-font-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.add-user-btn {
  height: 40px;
  background: #9e8656;
  color: #fff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.filter-btn {
  height: 40px;
  background: transparent;
  border: 1px solid #9e8656;
  color: #9e8656;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.btn-outline-35 {
  height: 35px;
  background: transparent;
  border: 1px solid #9e8656;
  color: #9e8656;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: #f4f6f9;
}
.table thead th {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.table tbody tr {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
