<div class="d-flex justify-content-between pb-4">
  <div class="pl-5">
    <p class="page-title">Product Details</p>
  </div>
  <div class="d-flex justify-content-end">
    <p class="text-muted lable-font-title">Product /</p>
    <p class="lable-font-title font-color">Add Product</p>
  </div>
</div>

<Section style="margin-left: 20px">
  <mat-card>
    <form [formGroup]="addProductGroup" (ngSubmit)="addProductSubmit()">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">PRODUCT NAME</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="productName"
              placeholder="Enter product Name"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('productName').hasError('required') &&
              submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Product Name</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">STORE NAME</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="storeName"
              placeholder="Enter product ID"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('storeName').hasError('required') && submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Store Name</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">PRODUCT ID</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="productId"
              placeholder="Enter product ID"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('productId').hasError('required') && submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Product Id</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">CATEGORY</p>
          <mat-form-field class="full-width" appearance="fill">
            <mat-select
              formControlName="category"
              placeholder="Selete Category"
            >
              <mat-option value="vendor"> Vendor Category </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('category').hasError('required') && submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Selete Category</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">SUB CATEGORY</p>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>SUB CATEGORY</mat-label>
            <mat-select
              formControlName="subcategory"
              placeholder="Selete Sub Category"
            >
              <mat-option value="vendor"> Vendor Category </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('subcategory').hasError('required') &&
              submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Selete Sub Category</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">PRICE</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="price"
              placeholder="Enter Product Price"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('price').hasError('required') && submitted
            "
            class=""
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Product Price</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">TYPE</p>
          <mat-form-field class="full-width" appearance="fill">
            <input matInput formControlName="type" placeholder="Enter Type" />
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('type').hasError('required') && submitted
            "
            class=""
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Type</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">GOLD PURITY</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="goldpurity"
              placeholder="Enter Purity"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('goldpurity').hasError('required') &&
              submitted
            "
            class=""
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Purity</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">SIZE</p>
          <mat-form-field class="full-width" appearance="fill">
            <mat-select formControlName="size" placeholder="Selete Size">
              <mat-option value="11"> 11 </mat-option>
              <mat-option value="10"> 10 </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('size').hasError('required') && submitted
            "
            class=""
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Selete Size</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">CLARITY</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="clarity"
              placeholder="Enter Clarity"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('clarity').hasError('required') && submitted
            "
            class=""
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Clarity</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">TAXES</p>
          <mat-form-field class="full-width" appearance="fill">
            <input matInput formControlName="taxes" placeholder="Enter Taxes" />
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('taxes').hasError('required') && submitted
            "
            class=""
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Taxes</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
          <p class="m-0 form-lable">NO OF UNIT</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="unit"
              placeholder="Enter No of Unit"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('unit').hasError('required') && submitted
            "
            class=""
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter No of Unit</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <p class="m-0 form-lable">GENDER</p>
          <mat-form-field class="full-width" appearance="fill">
            <mat-select formControlName="gender" placeholder="Selete Gender">
              <mat-option value="male"> Male </mat-option>
              <mat-option value="female"> Female </mat-option>
              <mat-option value="other"> Other </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('gender').hasError('required') && submitted
            "
            class=""
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Selete Gender</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <p class="m-0 form-lable">TOTAL PRICE</p>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>TOTAL PRICE</mat-label>
            <input
              matInput
              formControlName="totalprice"
              placeholder="Enter Total Price"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('totalprice').hasError('required') &&
              submitted
            "
            class=""
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Total Price</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
          <p class="lable-font-title">PRODUCT DESCRIPTION</p>
          <mat-form-field class="full-width" appearance="outline">
            <textarea
              matInput
              formControlName="productdescription"
              rows="7"
              cols="40"
              placeholder="write here..."
            ></textarea>
          </mat-form-field>
          <mat-error
            *ngIf="
              addProductGroup.get('productdescription').hasError('required') &&
              submitted
            "
            class=""
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Write Product Description</span>
              </div>
            </div>
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-2">
          <p class="lable-font-title">Upload Product</p>
        </div>
        <!-- <div class="col-md-1 col-lg-1 col-sm-1"></div> -->
        <div class="col-md-3 col-lg-3 col-sm-3 d-flex justify-content-end">
          <p class="lable-font-title">(Max 6 Image)</p>
        </div>
        <div class="col-md-1 col-lg-1 col-sm-1"></div>
        <div class="col-md-3 col-lg-3 col-sm-3">
          <p class="lable-font-title">Upload Product Video</p>
        </div>
        <!-- <div class="col-md-1 col-lg-1 col-sm-1"></div> -->
        <div class="col-md-2 col-lg-2 col-sm-2 d-flex justify-content-end">
          <p class="lable-font-title">(Optional)</p>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-5 col-lg-5 col-sm-5 d-flex justify-content-center p-5"
          style="border: dotted 2px gray; margin-left: 2pc"
        >
          <input
            #fileInput
            type="file"
            hidden
            (change)="handleChange($event.target.files)"
            formControlName="productimage"
          />
          <div class="row" (click)="fileInput.click()">
            <div
              class="col-md-12 col-lg-12 col-sm-12"
              style="text-align: center"
            >
              <img
                src="../../../../assets/cloud-computing%20(1).svg"
                width="10%"
                alt=""
              />
            </div>
            <div
              class="col-md-12 col-lg-12 col-sm-12"
              style="text-align: center"
            >
              <h3 style="color: gray">Click to Upload</h3>
            </div>
          </div>
        </div>

        <div class="col-md-1 col-lg-1 col-sm-1"></div>
        <div
          class="col-md-5 col-lg-5 col-sm-5 d-flex justify-content-center p-5"
          style="border: dotted 2px gray"
        >
          <input
            #fileInput2
            type="file"
            hidden
            (change)="handleChange($event.target.files)"
            formControlName="productvedio"
          />
          <div class="row" (click)="fileInput2.click()">
            <div
              class="col-md-12 col-lg-12 col-sm-12"
              style="text-align: center"
            >
              <img
                src="../../../../assets/cloud-computing%20(1).svg"
                width="10%"
                alt=""
              />
            </div>
            <div
              class="col-md-12 col-lg-12 col-sm-12"
              style="text-align: center"
            >
              <h3 style="color: gray">Click to Upload</h3>
            </div>
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-12 col-lg-12 col-sm-12">
            <mat-error
              *ngIf="
                addProductGroup.get('productimage').hasError('required') &&
                submitted
              "
              class=""
            >
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Upload Complete Images</span>
                </div>
              </div>
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
          <div class="d-flex justify-content-around">
            <button
              mat-flat-button
              color="primary"
              type="submit"
              class="save-button mr-5"
            >
              Save
            </button>
            <button mat-flat-button color="accent" class="cancel-button mr-5">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</Section>
