
<section class="mb-4 mr-2">
  <div class="row">
      <div class="col-lg-6 admins_head">
          <h6>Product</h6> 
      </div>
      <div class="col-lg-6 d-flex justify-content-end">
        <span class="admin_lable">Product /</span> <span class="add">Add Product</span>
      </div>
  </div>
</section>



<Section style="margin-left: 20px;">
    <mat-card>
      <form [formGroup]="addProductGroup" (ngSubmit)="addProductSubmit()">
        <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-4">
              <mat-form-field class="example-full-width"  appearance="fill">
                  <mat-label>PRODUCT ID</mat-label>
                  <input matInput formControlName="productId" placeholder="Enter product ID">
                </mat-form-field>
                <div *ngIf="submitted && f.productId.errors" class="error-block display-block">
                    <div *ngIf="f.productId.errors.required">
                        <i class="fas fa-info-circle"></i>  Please Enter Product id 
                    </div>
                  </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>PRODUCT NAME</mat-label>
                <input matInput formControlName="productName" placeholder="Enter product Name">
              </mat-form-field>
              <div *ngIf="submitted && f.productName.errors" class="error-block display-block">
                <div *ngIf="f.productName.errors.required">
                    <i class="fas fa-info-circle"></i>  Please Enter product Name 
                </div>
              </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>CATEGORY</mat-label>
                <mat-select formControlName="category" placeholder="Selete Category">
                  <mat-option value="vendor">
                    Vendor Category
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="submitted && f.category.errors" class="error-block display-block">
                <div *ngIf="f.category.errors.required">
                    <i class="fas fa-info-circle"></i>  Please Selete Category 
                </div>
              </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>SUB CATEGORY</mat-label>
                <mat-select formControlName="subcategory" placeholder="Selete Sub Category">
                  <mat-option value="vendor">
                    Vendor Category
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="submitted && f.subcategory.errors" class="error-block display-block">
                <div *ngIf="f.subcategory.errors.required">
                    <i class="fas fa-info-circle"></i>  Please Selete Sub Category 
                </div>
              </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>PRICE</mat-label>
                <input matInput formControlName="price" placeholder="Enter Product Price">
              </mat-form-field>
              <div *ngIf="submitted && f.price.errors" class="error-block display-block">
                <div *ngIf="f.price.errors.required">
                    <i class="fas fa-info-circle"></i>  Please Product Price
                </div>
              </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput formControlName="type" placeholder="Enter Type">
              </mat-form-field>
              <div *ngIf="submitted && f.type.errors" class="error-block display-block">
                <div *ngIf="f.type.errors.required">
                    <i class="fas fa-info-circle"></i>  Please Enter Type
                </div>
              </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>GOLD PURITY</mat-label>
                <input matInput formControlName="goldpurity" placeholder="Enter Purity">
              </mat-form-field>
              <div *ngIf="submitted && f.goldpurity.errors" class="error-block display-block">
                <div *ngIf="f.goldpurity.errors.required">
                    <i class="fas fa-info-circle"></i>  Please Enter Purity
                </div>
              </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>SIZE</mat-label>
                <mat-select formControlName="size" placeholder="Selete Size">
                  <mat-option value="11">
                    11
                  </mat-option>
                  <mat-option value="10">
                    10
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="submitted && f.size.errors" class="error-block display-block">
                <div *ngIf="f.size.errors.required">
                    <i class="fas fa-info-circle"></i>  Please Selete Size
                </div>
              </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>CLARITY</mat-label>
                <input matInput formControlName="clarity" placeholder="Enter Clarity">
              </mat-form-field>
              <div *ngIf="submitted && f.clarity.errors" class="error-block display-block">
                <div *ngIf="f.clarity.errors.required">
                    <i class="fas fa-info-circle"></i>  Please Enter Clarity
                </div>
              </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>TAXES</mat-label>
                <input matInput formControlName="taxes" placeholder="Enter Taxes">
              </mat-form-field>
              <div *ngIf="submitted && f.taxes.errors" class="error-block display-block">
                <div *ngIf="f.taxes.errors.required">
                    <i class="fas fa-info-circle"></i>  Please Enter Taxes
                </div>
              </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>NO OF UNIT</mat-label>
                <input matInput formControlName="unit" placeholder="Enter No of Unit">
              </mat-form-field>
              <div *ngIf="submitted && f.unit.errors" class="error-block display-block">
                <div *ngIf="f.unit.errors.required">
                    <i class="fas fa-info-circle"></i>  Please Enter No of Unit
                </div>
              </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
        <mat-form-field class="example-full-width"  appearance="fill">
            <mat-label>GENDER</mat-label>
            <mat-select formControlName="gender" placeholder="Selete Gender">
              <mat-option value="male">
                Male
              </mat-option>
              <mat-option value="female">
                Female
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="submitted && f.gender.errors" class="error-block display-block">
            <div *ngIf="f.gender.errors.required">
                <i class="fas fa-info-circle"></i>  Please Selete Gender
            </div>
          </div>
        </div>
          <div class="col-md-12 col-lg-12 col-sm-12">
            <mat-form-field class="example-full-width"  appearance="fill">
                <mat-label>TOTAL PRICE</mat-label>
                <input matInput formControlName="totalprice" placeholder="Enter Total Price">
              </mat-form-field>
              <div *ngIf="submitted && f.totalprice.errors" class="error-block display-block">
                <div *ngIf="f.totalprice.errors.required">
                    <i class="fas fa-info-circle"></i> Please Enter Total Price
                </div>
              </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>PRODUCT DESCRIPTION</mat-label>
                <textarea matInput formControlName="productdescription" placeholder="write here"></textarea>
              </mat-form-field>
              <div *ngIf="submitted && f.productdescription.errors" class="error-block display-block">
                <div *ngIf="f.productdescription.errors.required">
                    <i class="fas fa-info-circle"></i> Please Write Product Description
                </div>
              </div>
        </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-2" style="margin-left: 20px;">
                <h4>Upload Product</h4>
            </div>
            <!-- <div class="col-md-1 col-lg-1 col-sm-1"></div> -->
            <div class="col-md-3 col-lg-3 col-sm-3 d-flex justify-content-end">
                <h4>(Max 6 Image)</h4>
            </div>
            <div class="col-md-1 col-lg-1 col-sm-1"></div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <h4>Upload Product Video</h4>
            </div>
            <!-- <div class="col-md-1 col-lg-1 col-sm-1"></div> -->
            <div class="col-md-2 col-lg-2 col-sm-2 d-flex justify-content-end">
                <h4>(Optional)</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-5 col-sm-5 d-flex justify-content-center p-5" style="border: dotted 2px gray; margin-left: 2pc;">
                <input #fileInput type="file" hidden (change)="handleChange($event.target.files)" formControlName="productimage"   />
                <div class="row" (click)="fileInput.click()">
                    <div class="col-md-12 col-lg-12 col-sm-12" style="text-align: center;">
                     <img src="../../../../assets/cloud-computing%20(1).svg" width="10%" alt="">
                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12" style="text-align: center;">
                     <h3 style="color: gray;">Click to Upload</h3>
                    </div>
                </div>
                </div>
                
                <div class="col-md-1 col-lg-1 col-sm-1"></div>
                <div class="col-md-5 col-lg-5 col-sm-5 d-flex justify-content-center p-5" style="border: dotted 2px gray;">
                    <input #fileInput2 type="file" hidden (change)="handleChange($event.target.files)" formControlName="productvedio"   />
                    <div class="row" (click)="fileInput2.click()">
                     <div class="col-md-12 col-lg-12 col-sm-12" style="text-align: center;">
                      <img src="../../../../assets/cloud-computing%20(1).svg" width="10%" alt="">
                     </div>
                     <div class="col-md-12 col-lg-12 col-sm-12" style="text-align: center;">
                      <h3 style="color: gray;">Click to Upload</h3>
                     </div>
                 </div>
                 </div>
                <div class="row m-2">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div *ngIf="submitted && f.productimage.errors" class="error-block display-block">
                            <div *ngIf="f.productimage.errors.required" >
                                <i class="fas fa-info-circle"></i> Please Upload Complete Images
                            </div>
                          </div>
                    </div>
                   
                </div>
         </div>
         <div class="row">
            <div class="col-md-3">
                <Button class="login-button" type="submit">Save</Button>
            </div>
            <div class="col-md-3">
                <Button class="Cancel-button">Cancel</Button>
            </div>
         </div>
        </div>
      </form>
    </mat-card>
</Section>
