<div class="d-flex justify-content-between pb-4">
  <div class="pl-5">
    <p class="page-title">Partner</p>
  </div>
  <div class="d-flex justify-content-end">
    <p class="text-muted lable-font-title">Partners /</p>
    <p class="lable-font-title font-color">Add Partners</p>
  </div>
</div>

<Section style="margin-left: 20px">
  <mat-card>
    <form [formGroup]="addPartnersGroup">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">PARTNERS NAME</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="partnersName"
              placeholder="Enter Partners Name"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addPartnersGroup.get('partnersName').hasError('required') &&
              submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Partners Name</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">PARTNERS EMAIL ID</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="partnersEmail"
              placeholder="Enter Partners Email Id"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addPartnersGroup.get('partnersEmail').hasError('required') &&
              submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Partners Email Id</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">CATEGORY</p>
          <mat-form-field class="full-width" appearance="fill">
            <mat-select
              formControlName="partnersCategory"
              placeholder="Selete Category"
            >
              <mat-option value="vendor"> Vendor Category </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="
              addPartnersGroup.get('partnersCategory').hasError('required') &&
              submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Select Category</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">SUB CATEGORY</p>
          <mat-form-field class="full-width" appearance="fill">
            <mat-select
              formControlName="partnersSubCategory"
              placeholder="Selete Sub Category"
            >
              <mat-option value="vendor"> Vendor Category </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="
              addPartnersGroup
                .get('partnersSubCategory')
                .hasError('required') && submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Sub Select Category</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">CONTACT NUMBER</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="contactNumber"
              placeholder="Enter Contact Number"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addPartnersGroup.get('contactNumber').hasError('required') &&
              submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Contact Number</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">COUNTRY</p>
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              formControlName="country"
              placeholder="Enter Country"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              addPartnersGroup.get('country').hasError('required') && submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter Country</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">STATE</p>
          <mat-form-field class="full-width" appearance="fill">
            <input matInput formControlName="state" placeholder="Enter State" />
          </mat-form-field>
          <mat-error
            *ngIf="
              addPartnersGroup.get('state').hasError('required') && submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter State</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <p class="m-0 form-lable">CITY</p>
          <mat-form-field class="full-width" appearance="fill">
            <input matInput formControlName="city" placeholder="Enter City" />
          </mat-form-field>
          <mat-error
            *ngIf="
              addPartnersGroup.get('city').hasError('required') && submitted
            "
          >
            <div class="d-flex align-items-center">
              <div>
                <mat-icon>error_outline</mat-icon>
              </div>
              <div class="pl-2">
                <span>Please Enter City</span>
              </div>
            </div>
          </mat-error>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
          <h3>Upload Logo</h3>
        </div>
        <div
          class="col-md-11 col-lg-11 col-sm-11 d-flex justify-content-center p-5"
          style="border: dotted 2px gray; margin-left: 2pc"
        >
          <div class="row" (click)="fileInput.click()">
            <input
              #fileInput
              type="file"
              hidden
              (change)="handleChange($event.target.files)"
              formControlName="productimage"
            />
            <div
              class="col-md-12 col-lg-12 col-sm-12"
              style="text-align: center"
            >
              <img
                src="../../../../assets/cloud-computing%20(1).svg"
                width="10%"
                alt=""
              />
            </div>
            <div
              class="col-md-12 col-lg-12 col-sm-12"
              style="text-align: center"
            >
              <h3 style="color: gray">Click to Upload</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 ml-3">
            <mat-error
              *ngIf="
                addPartnersGroup.get('productimage').hasError('required') &&
                submitted
              "
            >
              <div class="d-flex align-items-center">
                <div>
                  <mat-icon>error_outline</mat-icon>
                </div>
                <div class="pl-2">
                  <span>Please Upload Image</span>
                </div>
              </div>
            </mat-error>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
          <div class="d-flex justify-content-around">
            <button
              mat-flat-button
              color="primary"
              class="save-button mr-5"
              type="button"
              (click)="savePartner()"
            >
              Save
            </button>
            <button
              mat-flat-button
              color="accent"
              class="cancel-button mr-5"
              type="button"
              (click)="cancleOnboardPartener()"
            >
              Cancel
            </button>
            <button
              mat-flat-button
              color="warn"
              class="onboarding-button mr-5"
              type="button"
              (click)="onboardPartner()"
            >
              Onboarding
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</Section>
