.lable-font-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.lable-color-gray {
  color: gray;
}
.font-color {
  color: #988149;
}
.text-style {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
}
.accept-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background: #988149;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
.next-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #988149;
  color: #988149;
  font-family: "Montserrat", sans-serif;
}
.clarify-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background: #fb8773;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
.back-button {
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  color: #988149;
  font-family: "Montserrat", sans-serif;
}
