<div class="d-flex justify-content-between pb-4">
  <div class="pl-5">
    <p class="lable-font-title">Product</p>
  </div>
  <div class="d-flex justify-content-end">
    <div class="pr-4">
      <button
        mat-stroked-button
        color="primary"
        style="font-size: 18px"
        class="filter-btn"
        (click)="openFilter()"
      >
        Filter
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <div>
      <button
        mat-stroked-button
        color="accent"
        style="font-size: 18px"
        class="add-user-btn"
        (click)="addProduct()"
      >
        Add Product
      </button>
    </div>
  </div>
</div>
<div class="ml-4 shadow-lg bg-white rounded">
  <div class="d-flex justify-content-between">
    <div class="justify-content-center align-self-center">
      <div class="d-flex justify-content-start">
        <div class="text-muted pl-2 justify-content-center align-self-center">
          <span class="font-weight-bold align-middle pr-3">Export: </span>
        </div>
        <div class="pr-3">
          <button
            mat-stroked-button
            color="accent"
            style="font-size: 18px"
            class="btn-outline-35"
            (click)="download('csv')"
          >
            CSV
          </button>
        </div>
        <div class="pr-3">
          <button
            mat-stroked-button
            color="accent"
            style="font-size: 18px"
            class="btn-outline-35"
            (click)="download('xls')"
          >
            XLS
          </button>
        </div>
        <div class="pr-3">
          <button
            mat-stroked-button
            color="accent"
            style="font-size: 18px"
            class="btn-outline-35"
            (click)="download('pdf')"
          >
            PDF
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex align-content-center pt-3">
      <mat-form-field appearance="outline" style="font-size: 20px" class="pr-3">
        <mat-icon matSuffix>search</mat-icon>
        <input
          matInput
          type="search"
          placeholder="search"
          class="search-input"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Store Name</th>
            <th>Product ID</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Gender</th>
            <th>Description</th>
            <th>Price</th>
            <th>Taxes</th>
            <th>Total Price</th>
            <th>No Of units</th>
            <th>Images</th>
            <th>Vedio</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.storeName }}</td>
            <td>{{ product.productId }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.subCategory }}</td>
            <td>{{ product.gender }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.taxes }}</td>
            <td>{{ product.totalPrice }}</td>
            <td>{{ product.noOfUnits }}</td>
            <td class="img_tab"><img src="../../../../assets/gift.jpeg" /></td>
            <td class="vedio_tab">
              <iframe
                width="20"
                height="20"
                src="https://www.youtube.com/embed/n2Tl_eECPIM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; 
                    clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </td>
            <td>
              <div
                class="font-weight-bold"
                [ngClass]="
                  product.status.toUpperCase() == 'APPROVED'
                    ? 'text-success'
                    : product.status.toUpperCase() == 'PENDING'
                    ? 'text-warning'
                    : 'text-danger'
                "
              >
                <span style="font-size: 16px"> {{ product.status }} </span>
              </div>
            </td>
            <!-- <td class="selec_option">
              <select
                class="form-select"
                (change)="action($event.target.value)"
                aria-label="Default select example"
              >
                <option selected>Option</option>
                <option value="deny">Deny</option>
                <option value="approve">Approve</option>
              </select>
            </td> -->
            <td>
              <button
                mat-button
                [matMenuTriggerFor]="menu"
                mat-flat-button
                color="warn"
              >
                Options
                <mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="approveProduct(product)">
                  Approve
                </button>
                <button mat-menu-item (click)="denyProduct(product)">
                  Deny
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
