<section class="mat-typography" style="margin-left: 20px;">
    <div class="row">
        <div class="col-md-12 dash_head">
          <h2>Analytics</h2>
        </div>
    </div>
    <div class="row mt-3 sale_graph main_pg">
        <div class="col-md-12">
          <mat-card class="analytics_text">
              <p>spending  Insight</p>
            <img src="../../../../assets/Column%20Chart3.svg" alt="" width="100%">
          </mat-card>
        </div>
    </div>
</section>


<section style="margin-left: 20px;">  
    <div class="row mt -4 main_pg">
        <div class="col-md-6">
            <mat-card class="analytics_text card-design">
                <p>Customer Insights</p>
              <img src="../../../../assets/Column%20Chart0%20(1).svg" alt="" width="100%">
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card class="analytics_text card-design">
                <p>Sales Insights</p>
              <img src="../../../../assets/Column%20Chart0.svg" alt="" width="100%">
            </mat-card>
        </div>
    </div>
</section>
<section  style="margin-left: 20px;" class="mb-5">  
    <div class="row mt -4 main_pg">
        <div class="col-md-6">
            <mat-card class="analytics_text card-design1">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <p>Offer</p>
                </div>
                <div class="offset-4 col-md-5 col-sm-5 col-lg-5">
                    <img src="../../assets/Group%203048.svg" alt="" width="100%">
                </div>
            </div>
        </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card class="analytics_text card-design1">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <p>Discounts</p>
                    </div>
                    <div class="offset-4 col-md-5 col-sm-5 col-lg-5">
                        <img src="../../assets/Group%203049.svg" alt="" width="100%">
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</section>