<section>
    <div class="row">
        <div class="col-lg-6 admins_head">
            <h6>Vendore Orders</h6> 
        </div>
        <div class="col-lg-6 add_btn">
        </div>
    </div>
</section>
<section class="table_box" style="margin-left: 20px;">
    <div class="row">
        <div class="col-lg-6 export_btn"><h6>Export:</h6><a>csv</a><a>xls</a><a>pdf</a> </div>
        <div class="col-lg-5 col-md-5 col-sm-5 d-flex justify-content-end" style="margin-right:25px">
            <form class="search-form">
                <mat-form-field class="form_field search_btn"  appearance="outline">
                    <mat-icon class="form_field" matSuffix>search</mat-icon>
                    <input matInput type="search" placeholder="search" class="search-input">
                </mat-form-field>
            </form>     
        </div>
    </div>
    <mat-tab-group>
        <mat-tab  class="text-right tab_view mention" label="QR Code Transaction" style="padding-left: 221px;">
            <section class="">
                <table class="table table-striped table-hover tab_admin prod_tab">
                    <thead>  
                        <tr style="padding-top: 20px;">
                            <th class="th_wid">QR Number</th>  
                            <th class="th_wid">Order Id</th>  
                            <th class="th_wid">Store Id</th>  
                            <th class="th_wid">Customer</th>  
                            <th class="th_wid">Purchaser Name</th>  
                            <th class="th_wid">Date & Time</th>  
                            <th class="th_wid">Product Id</th> 
                            <th class="th_wid">Product Name</th>  
                            <th class="th_wid">Total Price</th> 
                            <th class="th_wid">Discount</th> 
                            <th class="th_wid">Net Price</th>     
                        </tr>  
                    </thead>  
                    <tbody>  
                        <tr>   
                            <td>256897</td>  
                            <td>256897</td>  
                            <td>895321</td> 
                            <td>753269</td>   
                            <td>Rakesh</td>  
                            <td>09-12-2021 | 13.43</td>  
                            <td>JOY56897</td>  
                            <td>Bracelet</td>
                            <td>15000</td>  
                            <td>20%</td>  
                            <td>14800</td>  
                        </tr> 
                        <tr>   
                            <td>256897</td>  
                            <td>256897</td>  
                            <td>895321</td> 
                            <td>753269</td>   
                            <td>Rakesh</td>  
                            <td>09-12-2021 | 13.43</td>  
                            <td>JOY56897</td>  
                            <td>Bracelet</td>
                            <td>15000</td>  
                            <td>20%</td>  
                            <td>14800</td>  
                        </tr> 
                        <tr>   
                            <td>256897</td>  
                            <td>256897</td>  
                            <td>895321</td> 
                            <td>753269</td>   
                            <td>Rakesh</td>  
                            <td>09-12-2021 | 13.43</td>  
                            <td>JOY56897</td>  
                            <td>Bracelet</td>
                            <td>15000</td>  
                            <td>20%</td>  
                            <td>14800</td>  
                        </tr> 
                        <tr>   
                            <td>256897</td>  
                            <td>256897</td>  
                            <td>895321</td> 
                            <td>753269</td>   
                            <td>Rakesh</td>  
                            <td>09-12-2021 | 13.43</td>  
                            <td>JOY56897</td>  
                            <td>Bracelet</td>
                            <td>15000</td>  
                            <td>20%</td>  
                            <td>14800</td>  
                        </tr> 
                    </tbody>  
                </table>
            </section> 
        </mat-tab>
        <mat-tab label="Coupon Code Transaction">
            <section class="">
                <table class="table table-striped table-hover tab_admin prod_tab">
                    <thead>  
                        <tr style="padding-top: 20px;">
                            <th class="th_wid">QR Number</th>  
                            <th class="th_wid">Order Id</th>  
                            <th class="th_wid">Store Id</th>  
                            <th class="th_wid">Customer</th>  
                            <th class="th_wid">Purchaser Name</th>  
                            <th class="th_wid">Date & Time</th>  
                            <th class="th_wid">Product Id</th> 
                            <th class="th_wid">Product Name</th>  
                            <th class="th_wid">Total Price</th> 
                            <th class="th_wid">Discount</th> 
                            <th class="th_wid">Net Price</th>     
                        </tr>  
                    </thead>  
                    <tbody>  
                        <tr>   
                            <td>256897</td>  
                            <td>256897</td>  
                            <td>895321</td> 
                            <td>753269</td>   
                            <td>Rakesh</td>  
                            <td>09-12-2021 | 13.43</td>  
                            <td>JOY56897</td>  
                            <td>Bracelet</td>
                            <td>15000</td>  
                            <td>20%</td>  
                            <td>14800</td>  
                        </tr> 
                        <tr>   
                            <td>256897</td>  
                            <td>256897</td>  
                            <td>895321</td> 
                            <td>753269</td>   
                            <td>Rakesh</td>  
                            <td>09-12-2021 | 13.43</td>  
                            <td>JOY56897</td>  
                            <td>Bracelet</td>
                            <td>15000</td>  
                            <td>20%</td>  
                            <td>14800</td>  
                        </tr> 
                        <tr>   
                            <td>256897</td>  
                            <td>256897</td>  
                            <td>895321</td> 
                            <td>753269</td>   
                            <td>Rakesh</td>  
                            <td>09-12-2021 | 13.43</td>  
                            <td>JOY56897</td>  
                            <td>Bracelet</td>
                            <td>15000</td>  
                            <td>20%</td>  
                            <td>14800</td>  
                        </tr> 
                        <tr>   
                            <td>256897</td>  
                            <td>256897</td>  
                            <td>895321</td> 
                            <td>753269</td>   
                            <td>Rakesh</td>  
                            <td>09-12-2021 | 13.43</td>  
                            <td>JOY56897</td>  
                            <td>Bracelet</td>
                            <td>15000</td>  
                            <td>20%</td>  
                            <td>14800</td>  
                        </tr> 
                        <tr>   
                            <td>256897</td>  
                            <td>256897</td>  
                            <td>895321</td> 
                            <td>753269</td>   
                            <td>Rakesh</td>  
                            <td>09-12-2021 | 13.43</td>  
                            <td>JOY56897</td>  
                            <td>Bracelet</td>
                            <td>15000</td>  
                            <td>20%</td>  
                            <td>14800</td>  
                        </tr> 
                    </tbody>  
                </table>
            </section>
        </mat-tab>   
    </mat-tab-group>
</section>


