.tog_button{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .tog_button input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .admins_head h6{font-weight: 700;text-transform: capitalize;font-size: 17px; margin-left: 30px;}
.product_btn h6{background-color:#9e8656;color:#fff;padding: 7px 14px 7px 14px;border-radius: 5px;text-transform: capitalize;font-size: 14px;float:right;}
.activ_btn a{background-color: #4be868;padding: 1px 4px;border-radius: 3px;}
.act_btn{display: flex;}
.dele_btn{margin-left: 11px;} 
.activ_div{margin-right: -19px;}
.diactiv_btn a{background-color: #f83c3c;padding: 2px 6px;border-radius: 3px;}
.table_box{ box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 7px 0px;width: 1039px; padding-top: 30px; background-color: #fff;border-radius: 10px;}
.export_btn{display: flex;margin: auto;}
.export_btn h6{font-size: 14px;padding-left: 12px;color: #9d9c9c;font-weight: 500;}
.export_btn a{border: 1px solid #9e8656;/* padding: 3px; */height: 24px;width: 52px;
    border-radius: 5px;text-align: center;margin-left: 7px;color: #9e8656;padding-top: 2px;margin-top: -4px;}
.form_field{padding:0 !important; box-shadow: white;}
// .search_btn{width: 94%;height: 34px;top: 12px;box-shadow: rgb(100 100 111 / 20%) 0px 3px 7px 0px;}
.img_tab img{width: 84px; height: 50px;}
.vedio_tab iframe{border-radius: 50%;}
.prod_tab th{font-size: 12px;}
table td img{width: 77px !important;height: 41px !important;}
.th_wid{padding-left: 0px;}
.prod_tab tr{font-size: 12px;text-align: center;}
.prod_tab th{padding-bottom: 14px;padding-top: 12px;}
.mat-tab label{padding-left: 206px !important;}
.mat-tab-list{padding-left: 162px !important;}
.mat-ink-bar{background-color: #8b7441 !important;}
.tax_para{margin-bottom: -7px;font-size: 10px;}
.mention{padding-left: 216px;}
.prod_tab td{font-size: 11px;}
.selec_option select{background-color: #f83c3c;width: 59px;border-radius: 3px;color: #fff;padding: 2px;border: none;}
.selec_option option{background-color: #fff; color: #000;}

